@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
* {
  box-sizing: border-box;
}
:root{
  --primary-color: green ;
  --secondary-color: blue;
}
background{
  box-sizing: border-box;

  
}
--primary-color{
  color: red;
  padding : 1px solid red;

}
